body {
    background:#111827;
    color:white;
    font-family:Arial;
}


header {
    text-align:center;
    padding:40px;
    background:#1f2937;
}


.container {
    width:80%;
    margin:auto;
}


.container a {
    display:block;
    background:#2563eb;
    padding:20px;
    margin:15px;
    border-radius:10px;
    color:white;
    text-decoration:none;
    font-size:20px;
}


.container a:hover {
    background:#1d4ed8;
}
